@{
    var formDictionary = new Dictionary<string, object> {
        { "data_role", "validator" },
        { "data_hide_error", "5000" },
        { "novalidate", "novalidate" },
        { "data_show_required_state", "false"}
    };

    var minPassLength = ViewData["PasswordLength"];
}

@if (Html.ValidationSummary() != null)
{
    using (Script.Foot())
    {
        <script>
            (function ($) {

                @foreach(var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors)){
                    <text>
                    $(function() {
                        $.Notify({
                            content: "@T(modelError.ErrorMessage)",
                            type: "alert",
                            timeout: 6000
                        });
                    });
                    </text>
                }

            })(jQuery);
        </script>
    }
}

<h1>@Html.TitleForPage(T("Change Password").ToString()) </h1>

<hr class="thin"/>

<div>
    <p>@T("New passwords are required to be a minimum of {0} characters in length.", minPassLength) </p>
    @using (Html.BeginFormAntiForgeryPost(null, FormMethod.Post, formDictionary)) {
        <fieldset>
            <legend class="no-display">@T("Account Information")</legend>
            <label for="currentPassword" class="control-label">@T("Current password")</label>
            <div class="input-control password full-size">
                <span class="prepend-icon mif-lock"></span>
                <input type="password" name="currentPassword" data-role="input"
                       data-validate-func="minlength"
                       data-validate-arg="@minPassLength" />
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
            <label for="newPassword" class="control-label">@T("New password")</label>
            <div class="input-control password full-size">
                <span class="prepend-icon mif-lock"></span>
                <input type="password" name="newPassword" data-role="input"
                       data-validate-func="minlength"
                       data-validate-arg="@minPassLength" />
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
            <label for="confirmPassword" class="control-label">@T("Confirm password")</label>
            <div class="input-control password full-size">
                <input type="password" name="confirmPassword" data-role="input"
                       data-validate-func="required" />
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
            <div class="form-group">
                <button class="button primary" type="submit">
                    @T("Change Password")
                </button>
            </div>
        </fieldset>
    }
</div>