@if (Html.ValidationSummary() != null) {
    using (Script.Foot()) {
        <script>
            (function ($) {

                @foreach(var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors)){
                    <text>
                    $(function() {
                        $.Notify({
                            content: "@T(modelError.ErrorMessage)",
                            type: "alert",
                            timeout: 6000
                        });
                    });
                    </text>
                }

            })(jQuery);
        </script>
    }
}

<h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>

<hr class="thin" />

<div>
    <p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
    @using (Html.BeginFormAntiForgeryPost(null, FormMethod.Post, new {
        data_role = "validator",
        data_hide_error = "5000",
        novalidate = "novalidate",
        data_show_required_state = "false"
    })) {
        <fieldset>
            <legend class="no-display">@T("Account Information")</legend>
            <label for="username" class="control-label">@T("Username or E-mail")</label>
            <div class="input-control email full-size" data-role="input">
                <input type="text" name="username"
                       data-validate-func="required" />
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
            <div>
                <button class="button primary" type="submit">
                    @T("Send Request")
                </button>
            </div>
        </fieldset>
    }
</div>