@using Orchard.ContentManagement;
@using Orchard.Tags.ViewModels;

@{
    var blogPost = Model.ContentItem;
}

<h3><a href="@Url.ItemDisplayUrl((IContent)blogPost)">@blogPost.TitlePart.Title</a></h3>
<div class="metadata" style="margin-bottom: 10px;">
    <div class="published"><i class="fa fa-clock-o"></i> @Display.DateTime(DateTimeUtc: blogPost.CommonPart.PublishedUtc, CustomFormat: T("dddd, MMMM d, yyyy h:mm tt"))</div>
    @if (Model.Tags.Items.Count > 0 && ((IEnumerable<ShowTagViewModel>)Model.Tags.Items[0].Tags).Any())
    {
        @Display(Model.Tags)
    }
    <i class="mif-bubbles"></i> <a href="@Url.ItemDisplayUrl((IContent) blogPost)#comments-anchor" class="tag">@Display(Model.CommentsCount)</a>
</div>

@Display(Model.Summary)

<hr class="thin"/>