@using Orchard.ContentManagement
@{
    var userCanRegister = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().UsersCanRegister;
    var enableLostPassword = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().EnableLostPassword;
}
@if (Model.Title == "Access Denied")
{
    using (Script.Foot())
    {
        <script>
            (function ($) {

                $(function () {
                    $.Notify({
                        caption: "@T(Model.Title)",
                        content: "@T("You do not have permission to complete your request.")",
                        type: "alert",
                        timeout: 6000
                    });
                });

            })(jQuery);
        </script>
    }
}
@if (Html.ValidationSummary() != null)
{
    using (Script.Foot())
    {
        <script>
            (function ($) {

                @foreach(var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors)){
                    <text>
                $(function () {
                    $.Notify({
                        content: "@T(modelError.ErrorMessage)",
                        type: "alert",
                        timeout: 6000
                    });
                });
                </text>
                }

            })(jQuery);
        </script>
    }
}

<h1 class="page-title">@Html.TitleForPage(T("Sign In"))</h1>

<hr class="thin" />

<div>
    <p>
        @T("Please enter your username and password.")
        @if (userCanRegister)
        { @Html.ActionLink(T("Register").Text, "Register", new { ReturnUrl = Request.QueryString["ReturnUrl"] }) @T(" if you don't have an account.") }
        @if (enableLostPassword)
        { <text> </text> @Html.ActionLink(T("Lost your Password?").Text, "RequestLostPassword") }
    </p>
    @using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", new { ReturnUrl = Request.QueryString["ReturnUrl"] })))
    {
        <fieldset class="login-form group">
            <legend>@T("Account Information")</legend>
            <div>
                <label for="username-email">@T("Username")</label>
                <div class="input-control text full-size" data-role="input">
                    @Html.TextBox("userNameOrEmail", "", new { id = "username-email", autofocus = "autofocus", @class = "validate[required]" })
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>
                </div>
                @Html.ValidationMessage("userNameOrEmail")
            </div>
            <div>
                <label for="password">@T("Password")</label>
                <div class="input-control password full-size" data-role="input">
                    @Html.Password("password", null, new { @class = "validate[required]" })
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                @Html.ValidationMessage("password")
            </div>
            <label class="input-control checkbox">
                @Html.CheckBox("rememberMe", new { id = "remember-me" })
                <span class="check"></span>
                <span class="caption">@T("Remember Me")</span>
            </label>
            <div class="form-group">
                <button class="button primary" type="submit">@T("Sign In")</button>
            </div>
        </fieldset>
    }
</div>