@using Orchard.Comments.Models
@using Orchard.ContentManagement

@{
    CommentPart comment = Model.ContentPart;
    var comments = comment.CommentedOnContentItem.As<CommentsPart>();

    var children = New.List(Items: Model.Items);
    children.Classes.Add("comments");
    children.Classes.Add("margin-left20");
}

<div class="panel margin20 no-margin-left no-margin-right comment" data-role="panel">
    <div class="heading">
        @Display.CommentGravatar(ContentPart: comment) />
        <span class="title">
            @Display.CommentAuthor(ContentPart: comment)
            @Display.CommentMetadata(ContentPart: comment)
            @if (comments.ThreadedComments)
            {
                <span class="reply">@Display.CommentReplyButton(ContentPart: comment)</span>
            }
        </span>
    </div>
    <div class="content">
        @Display.CommentText(ContentPart: Model.ContentPart, ContentItem: Model.ContentItem)
    </div>
    @Display(children)
</div>